[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
rope = "*"
pytest = "==4.0"

[packages]
py4j = "*"
jpype1 = "*"
jupyterlab = "*"
notebook = "*"
jupyter = "*"
itertoolz = "*"
toolz = "*"
pandas = "*"

[requires]
python_version = "3.8"
