[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
unittest = "*"

[packages]
py4j = "*"
javabridge = "*"
jpype1 = "*"
unittest = "*"

[requires]
python_version = "3.8"
